body {
    @include full-size();
    position: relative;
    font-family: $font;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
    color: $black;
    overflow: hidden;
}

html {
    @include full-size();
    font-size: 62.5%;
    background-color: $white;
  }
  