// Colors
$black =  #141414
$darker = #454545
$dark =   #636363
$grey =   #D9D9D9
$white =  #FFFFFF
$green =  #00D6CF
$blue =   #228DFC
$red =    #FF303F
$yellow = #DEA51C

// $colors = (green = $green, blue = $blue, red = $red, yellow = $yellow)


// Fonts
$font = 'Canaro', 'Helvetica', 'Arial', sans-serif
// $charters = (
//   'CircularStd-Bold',
//   'CircularStd-Book',
//   'OculusSans-Regular',
//   'OculusSans-Bold',
//   'CeraGR-Bold',
//   'Bariol-Regular'
// )

// Grid
$column = 80px
$gutter = 20px

// Margins
$margin-g = 300px
$margin-b = 240px
$margin-l = 160px
$margin-m = 120px
$margin-r = 90px
$margin-s = 60px
$margin-t = 30px
$margin-n = 15px

// Sizes
$menu-l = 144px
$menu-m = 108px
$menu-s = 72px
