// .Page {
//   @each $key, $value in $colors {
//     &[data-color="#{$key}"] {
//       *::selection {
//         color: $white;
//         background-color: $value;
//       }
//     }
//   }
// }
