.Content 

  &-header
    display: flex

    &--center 
      align-items: center
    

  &-title 
    font-size: 3rem
    width: 100%
 
  &-description 
    font-size: 2rem
    font-weight: 300
    line-height: 1.75em

    &--large 
      width: grid(6)


  &-section 
    font-size: 2.6rem
    font-weight: 700
    margin-bottom: $margin-s
  
  &-text 
    font-size: 2rem
    font-weight: 300
    line-height: 1.75em
    margin-bottom: $margin-s

  &-icons 
    display: flex

  &-main,
  &-full,
  &-sub,
  &-poster,
  &-listed 
    > img,
    > video 
      align-self: center
      width: 100%
      height: auto
    
  

