.Text 
  &--bold
    font-weight: 700

  &--light
    font-weight: 300

  &--center
    text-align: center

  &--black
    color: $black

  &--dark
    color: $dark

  &--grey
    color: $grey

  &--white
    color: $white

  &--green
    color: $green

  &--blue
    color: $blue

  &--red
    color: $red
    
  &--yellow
    color: $yellow